# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [1]:
a = 100
b = 100
print(a == b)
print(id(a) == id(b))

True
True

В цілях оптимізації інтерпретатор створює об'єкти типу Integer в межах [-5, 256] під час ініціалізації інтерпретатора, а потім повторно використовує їх під час виконання програми. Створюються посилання на ці самі об'єкти, а не відбуваєтсья створення нових.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [5]:
# the answer is function type()
bool_var = True
type(bool_var)

bool

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [11]:
int_var = 5
float_var = 0.4

# addition
sum = int_var + float_var
print(int_var, "+", float_var, "=", sum)

# subtraction
difference = int_var - float_var
print(int_var, "-", float_var, "=", difference)

# division
fraction = int_var / float_var
print(int_var, "/", float_var, "=", fraction)
fraction = float_var / int_var
print(float_var, "/", int_var, "=", fraction)

# multiplication
product = int_var * float_var
print(int_var, "*", float_var, "=", product)

# division without remainder
fraction_without_remainder = int_var // float_var
print(int_var, "//", float_var, "=", fraction_without_remainder)
fraction_without_remainder = float_var // int_var
print(float_var, "//", int_var, "=", fraction_without_remainder)

# division by modulo
remainder = int_var % float_var
print(int_var, "%", float_var, "=", remainder)
remainder = float_var % int_var
print(float_var, "%", int_var, "=", remainder)

# raising to power
power = int_var**float_var
print(int_var, "**", float_var, "=", power)
power = float_var**int_var
print(float_var, "**", int_var, "=", power)

5 + 0.4 = 5.4
5 - 0.4 = 4.6
5 / 0.4 = 12.5
0.4 / 5 = 0.08
5 * 0.4 = 2.0
5 // 0.4 = 12.0
0.4 // 5 = 0.0
5 % 0.4 = 0.19999999999999973
0.4 % 5 = 0.4
5 ** 0.4 = 1.9036539387158786
0.4 ** 5 = 0.010240000000000003

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [14]:
print(type(sum))
casted_int = int(sum)
print(type(casted_int))
print(sum, ' ', casted_int)

bool_var = True
print(type(bool_var))
casted_int = int(bool_var)
print(type(casted_int))
print(bool_var, ' ', casted_int)

<class 'float'>
<class 'int'>
5.4   5
<class 'bool'>
<class 'int'>
True   1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
empty_string1 = ''
empty_string2 = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [16]:
apostrophe = '\''
raw_apostrophe = r'\''
print(apostrophe)
print(raw_apostrophe)

'
\'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [20]:
surname = "Pyechkurova"
formated_string = f"My surname is {surname}"
print(formated_string)

My surname is Pyechkurova

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [33]:
s = "My dog is crazy."
words = s.lower().replace('.', '').split()
print(words)
type(words)

['my', 'dog', 'is', 'crazy']

list

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [34]:
list1 = list(('a', 'b', 'c', 31))
list2 = [0.1, 0.2, 0.3, True, 'pink']
print(len(list1))
print(len(list2))

4
5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [35]:
list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 8]
list1.append(list2)
print(list1)

[1, 2, 3, 4, [5, 6, 7, 8]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [1]:
list_of_lists = [[1, 2, 3], [True, False, True], ['a', 'b', 'c']]
elem = list_of_lists[-1][0]
print(elem)

a

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [3]:
l = [True, 'one', 2j + 2, 3, 4.0, '5', [6, 7], (8, 9), {10, 11},
 {'twelve' : 12, 'thirteen' : 13}]
print(l)
sliced_list = l[2:-2]
print(sliced_list)

[True, 'one', (2+2j), 3, 4.0, '5', [6, 7], (8, 9), {10, 11}, {'twelve': 12, 'thirteen': 13}]
[(2+2j), 3, 4.0, '5', [6, 7], (8, 9)]
4

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [4]:
t = (1,)
type(t)

tuple

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Списки впорядковані та змінні, об'єкти такого типу можна модифікувати після створення, для цього прописані відповідні методи, наприклад .append, .extend, .insert та інші. В одному списку можна зберігати різні типи даних. Списки використовуються коли необхідно зберегти колекцію об'єктів яку в майбутньому треба буде модифікувати. До їх елементів можна доступитися за індексом.

Кортежі впорядковані та незмінні, їх неможливо модифікувати після створення. В одному кортежі можна зберігати різні типи даних. Кортежі використовуються, коли необхідно зберегти колекцію об'єктів в незмінному вигляді. Можуть виконувати роль елементів set або ж ключів dictionary, оскільки вони (елементи та ключі) обов'язкаво мають бути hashable, тобто їх має приймати в якості аргументів hash-функція. До їх елементів можна доступитися за індексом.

Списки в якості аргументів hash-функція не приймає.

*місце для текстової відповіді

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [11]:
floating_point_tuple = (0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0, 1.1)
even_reversed = floating_point_tuple[::-2]
print(even_reversed)

(1.1, 0.9, 0.7, 0.5, 0.3, 0.1)

0.1

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [12]:
set1 = set()
set1.add(True)
set1.add(1000)
set1.add("This is string")
print(set1)

{1000, True, 'This is string'}

Так, множини є змінним типом даних, але елементи множини мають бути елементами незмінних типів даних. Незмінні множини називаються frozen sets і є окремим типом даних.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [14]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
print(my_set)

{1, 2, 67, 8, 9}

set

Деякі елементи зникли, бо в множині кожен елемент має бути унікальним та не може дублюватися.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [16]:
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
set2 = {1, 3, 5, 7, 9, 11, 13}

set_union = set1.union(set2)
print("union:", set_union)

set_intersection = set1.intersection(set2)
print("intersection",set_intersection)

set_difference = set1.difference(set2)
print("difference",set_difference)

set_symmetric_difference = set1.symmetric_difference(set2)
print("symmetric difference", set_symmetric_difference)

union: {1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13}
intersection {1, 3, 5, 7, 9}
difference {8, 2, 4, 6}
symmetric difference {2, 4, 6, 8, 11, 13}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [17]:
dictionary = {}
dictionary[True] = 1
dictionary["Two"] = 2
dictionary[3] = 3
dictionary[(4, 0)] = 4
print(dictionary)

{True: 1, 'Two': 2, 3: 3, (4, 0): 4}

Список не може бути ключем на відміну від кортежа, бо ключ має бути незмінним, а список не задовольняє цій характеристиці.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [21]:
nested_d = {
    "tuple" : (1, 2, 3),
    "dictionary" : {"one" : 1, "two" : 2, "three" : 3, "nested_nested_d" : {"fruit" : "apple"}}
    }

print(nested_d["dictionary"]["nested_nested_d"]) # the most inner dictionary
print(nested_d["dictionary"]["nested_nested_d"]["fruit"]) # value stored in the most inner dictionary

{'fruit': 'apple'}
apple

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.